<div class="row">
  <div class="item span6 offset3">
    <%= form_for(@item) do |f| %>
      <%= render 'shared/error_messages', ar: f.object %>
    
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content %>
      <%= f.text_area :content, size: "20x20" %>
      
      <div class="col-xs-2 col-xs-offset-5">
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
