<% provide(:title, @item.title) %>
      <% if current_user?(@item.user) %>
        <span class="edit"><%= link_to 'edit', {action: :edit, id: params[:id]}, {class: "btn btn-default"} %></span>
        <span class="delete"><%= link_to 'delete', item_path(@item), {method: :delete, data: {confirm: 'Are you sure?'}} %></span>
      <% end %>
        <span class="changes"><%= link_to 'changes', {controller: :item_histories, action: :index, id: params[:id]} %></span>

        <div class="page-header">
          <h1><%= @item.title %></h1>
          <div class="stars_container">
          <span id="stars"></span>
         <% if signed_in? %>
            <a href="#" id="add_star" href="#"><%= image_tag "star.png", :size => '24x24'%></a>
            <a href="#" id="remove_star" href="#"><%= image_tag "star_del.png", :size => '24x24'%></a>
          <% end %>
          </div>
        </div>

        <div class="markdown span6 offset3">
          <%= markdown(@item.content) %>
        </div>
        
        <%= hidden_field :item, :id %>

        <div class="comment span6 offset3">
          <h4 class="comment_header">Comments</h4>
          <ul class="item_comments">
            <%= render @item.comments %>
          </ul>
        <% if signed_in? %>
          <div class="comment_form">
            <%= form_for(@item_comment, url: {controller: :item_comments, action: :create}) do |f| %>
              <%= f.label :your_comment, class: "your_comment" %>
            <ul id="edit_tab" class="nav nav-tabs">
              <li class="active"><a href="#markdown" id="markdown_tab" data-toggle="tab">Markdown</a></li>
              <li><a href="#preview" id="preview_tab" data-toggle="tab">Preview</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="markdown">

              <%= f.text_area :content, id: "content", size: "20x2" %>
              <%= f.hidden_field :item_id %>

              </div>
              <div class="tab-pane" id="preview">
                <div class="tab-pane-preview markdown" id="preview-content">
                  <div class="dummy">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-2 col-xs-offset-5">
              <%= f.submit "Add comment", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
          </div>
        <% end %>
        </div>
<%= render "shared/star_comment" %>

<%= javascript_include_tag "preview" %>
<%= javascript_include_tag "star" %>
<script type="text/javascript">
$(function(){set_stars()});
</script>
