<!DOCTYPE html>
<html>
<%= render "shared/head" %>

<body>
  <div class="container">
    <div class="row clearfix">
      <%= render "shared/nav" %>        
      <div class="col-md-12 column">
        <div>
          <%= render "shared/messages" %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
