<!DOCTYPE html>
<html>
<%= render "shared/head" %>
<body>
  <div class="container">
    <div class="row clearfix">
      <%= render "shared/nav" %>
      <div class="col-md-9 column">
        <div>
          <%= render "shared/messages" %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <div class="user_items col-md-3 column">
        <div>
          <%= gravatar_for @item.user, size: 50 %>
        </div>
        <div class="user">
          <strong><%= link_to @item.user.name, user_path(@item.user) %></strong>
        </div>
        <div class="items">
          Recently updates:
          <ol>
            <% @item.user.items.each do |item| %>
            <li>
              <div class="title"><%= link_to item.title, item_path(item) %></div>
              <div class="timestamp">
                Updated <%= time_ago_in_words(item.updated_at) %> ago.
              </div>
            </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
